@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
  --color-orange: #ff9147;
  --color-green: #4beb9e;
  --color-blue: #4eb5ef;
  --color-purple: #b163ff;
}

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.layout-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  position: relative;
  /* debug */
  /* border: 2px solid yellow; */
}

@keyframes gradient-scroll {
  0% {
    background-color: var(--color-orange);
  }
  25% {
    background-color: var(--color-green);
  }
  50% {
    background-color: var(--color-blue);
  }
  75% {
    background-color: var(--color-purple);
  }
  100% {
    background-color: var(--color-orange);
  }
}

.gradient-wrapper {
  padding: 0;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  animation: gradient-scroll 5000ms;
  animation-iteration-count: infinite;
  /* Debug */
  /* border: 1px solid blue; */
}

h1 {
  color: inherit;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 0.8;
  font-size: 500%;
  font-size: 20vw;
  letter-spacing: -5px;
  text-transform: lowercase;
  /* for gradient debug */
  color: black;
}
